<!DOCTYPE html>
<html lang="it">
<body bgcolor="black">
<center>
<font face="calibri" size="50" color="white" style="text-decoration: underline;">STRUMENTO DI DIAGNOSI MELANOMICA</font>
<br><br><font color="white" face="calibri" size="26">Risultato:</font><br>
<img src="{{url_for('static', filename=value)}}" style="border: 2px solid white;max-width: 600px;max-height: 600px;" alt="Nevo">
<br><br>
<font color="white" face="calibri" size="2">ATTENZIONE il software si trova in fase di sviluppo e pertanto i risultati non sono attendibili, in modo particolare i riquadri che vengono contrassegnati con una precisione minore del 99% sono incertezze che il software segnala per migliorare la propria precisione in una futura sessione di training e vanno pertanto ignorati.</font>
<font color="white" face="calibri" size="2">In nessun modo questa analisi si sostituisce a una visita di un dermatologo esperto.</font>
<br><br>
<form method="get" action="http://matteoceriscioli.ddns.net:5000">
    <input type="submit" value="Analizza una nuova immagine" />
</form>
</center>
</body>
</html>